{% extends "frontend/base.html" %}

{% block title %}{{ 'Gallery - '|translate(current_language) }}{{ super() }}{% endblock %}

{% block content %}
<!-- Page Title -->
<section class="page-title centred" style="background-image: url({{ url_for('static', filename='images/background/page-title.jpg') }});">
    <div class="shape" style="background-image: url({{ url_for('static', filename='images/shape/banner-shap.png') }});"></div>
    <div class="auto-container">
        <div class="content-box">
            <h1>{{ 'Gallery'|translate(current_language) }}</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="{{ url_for('frontend.index') }}">{{ 'Home'|translate(current_language) }}</a></li>
                <li>{{ 'Gallery'|translate(current_language) }}</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->

<!-- gallery-section -->
<section class="gallery-section centred">
    <div class="auto-container">
        <div class="sec-title centred">
            <p>{{ 'Explore Our World'|translate(current_language) }}</p>
            <h2>{{ 'Water Quality & Services Gallery'|translate(current_language) }}</h2>
        </div>
        <div class="sortable-masonry">
            <div class="filters">
                <ul class="filter-tabs filter-btns clearfix">
                    <li class="active filter" data-role="button" data-filter=".all">{{ 'All'|translate(current_language) }}</li>
                    <li class="filter" data-role="button" data-filter=".water_quality">{{ 'Water Quality'|translate(current_language) }}</li>
                    <li class="filter" data-role="button" data-filter=".delivery">{{ 'Delivery'|translate(current_language) }}</li>
                    <li class="filter" data-role="button" data-filter=".products">{{ 'Products'|translate(current_language) }}</li>
                    <li class="filter" data-role="button" data-filter=".facilities">{{ 'Facilities'|translate(current_language) }}</li>
                </ul>
            </div>
            <div class="items-container row clearfix">
                <!-- Water Quality Testing -->
                <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all water_quality">
                    <div class="gallery-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><img src="{{ url_for('static', filename='images/gallery/water-testing.jpg') }}" alt="{{ 'Water Quality Testing'|translate(current_language) }}"></figure>
                            <div class="content-box">
                                <h4>{{ 'Water Quality Testing'|translate(current_language) }}</h4>
                                <p>{{ 'Professional laboratory testing'|translate(current_language) }}</p>
                            </div>
                            <div class="link">
                                <a href="{{ url_for('static', filename='images/gallery/water-testing.jpg') }}" class="lightbox-image" data-fancybox="gallery"><i class="fal fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Delivery Service -->
                <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all delivery">
                    <div class="gallery-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><img src="{{ url_for('static', filename='images/gallery/delivery-truck.jpg') }}" alt="{{ 'Water Delivery Service'|translate(current_language) }}"></figure>
                            <div class="content-box">
                                <h4>{{ 'Professional Delivery'|translate(current_language) }}</h4>
                                <p>{{ 'On-time delivery to your doorstep'|translate(current_language) }}</p>
                            </div>
                            <div class="link">
                                <a href="{{ url_for('static', filename='images/gallery/delivery-truck.jpg') }}" class="lightbox-image" data-fancybox="gallery"><i class="fal fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Water Bottles Products -->
                <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all products">
                    <div class="gallery-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><img src="{{ url_for('static', filename='images/gallery/water-bottles.jpg') }}" alt="{{ 'Premium Water Bottles'|translate(current_language) }}"></figure>
                            <div class="content-box">
                                <h4>{{ 'Premium Water Bottles'|translate(current_language) }}</h4>
                                <p>{{ 'Various sizes available'|translate(current_language) }}</p>
                            </div>
                            <div class="link">
                                <a href="{{ url_for('static', filename='images/gallery/water-bottles.jpg') }}" class="lightbox-image" data-fancybox="gallery"><i class="fal fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Water Treatment Facility -->
                <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all facilities water_quality">
                    <div class="gallery-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><img src="{{ url_for('static', filename='images/gallery/treatment-facility.jpg') }}" alt="{{ 'Water Treatment Facility'|translate(current_language) }}"></figure>
                            <div class="content-box">
                                <h4>{{ 'Treatment Facility'|translate(current_language) }}</h4>
                                <p>{{ 'State-of-the-art purification'|translate(current_language) }}</p>
                            </div>
                            <div class="link">
                                <a href="{{ url_for('static', filename='images/gallery/treatment-facility.jpg') }}" class="lightbox-image" data-fancybox="gallery"><i class="fal fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Water Cooler Installation -->
                <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all products facilities">
                    <div class="gallery-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><img src="{{ url_for('static', filename='images/gallery/cooler-installation.jpg') }}" alt="{{ 'Water Cooler Installation'|translate(current_language) }}"></figure>
                            <div class="content-box">
                                <h4>{{ 'Cooler Installation'|translate(current_language) }}</h4>
                                <p>{{ 'Professional setup service'|translate(current_language) }}</p>
                            </div>
                            <div class="link">
                                <a href="{{ url_for('static', filename='images/gallery/cooler-installation.jpg') }}" class="lightbox-image" data-fancybox="gallery"><i class="fal fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Customer Service -->
                <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all delivery">
                    <div class="gallery-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><img src="{{ url_for('static', filename='images/gallery/customer-service.jpg') }}" alt="{{ 'Customer Service'|translate(current_language) }}"></figure>
                            <div class="content-box">
                                <h4>{{ 'Customer Service'|translate(current_language) }}</h4>
                                <p>{{ '24/7 support available'|translate(current_language) }}</p>
                            </div>
                            <div class="link">
                                <a href="{{ url_for('static', filename='images/gallery/customer-service.jpg') }}" class="lightbox-image" data-fancybox="gallery"><i class="fal fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Laboratory Testing -->
                <div class="col-lg-8 col-md-12 col-sm-12 masonry-item large-column all water_quality facilities">
                    <div class="gallery-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><img src="{{ url_for('static', filename='images/gallery/laboratory.jpg') }}" alt="{{ 'Quality Laboratory'|translate(current_language) }}"></figure>
                            <div class="content-box">
                                <h4>{{ 'Quality Laboratory'|translate(current_language) }}</h4>
                                <p>{{ 'Advanced testing equipment and certified technicians ensure the highest water quality standards'|translate(current_language) }}</p>
                            </div>
                            <div class="link">
                                <a href="{{ url_for('static', filename='images/gallery/laboratory.jpg') }}" class="lightbox-image" data-fancybox="gallery"><i class="fal fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Warehouse Operations -->
                <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all facilities products">
                    <div class="gallery-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><img src="{{ url_for('static', filename='images/gallery/warehouse.jpg') }}" alt="{{ 'Warehouse Operations'|translate(current_language) }}"></figure>
                            <div class="content-box">
                                <h4>{{ 'Storage Facility'|translate(current_language) }}</h4>
                                <p>{{ 'Climate-controlled storage'|translate(current_language) }}</p>
                            </div>
                            <div class="link">
                                <a href="{{ url_for('static', filename='images/gallery/warehouse.jpg') }}" class="lightbox-image" data-fancybox="gallery"><i class="fal fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Team Photo -->
                <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all">
                    <div class="gallery-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><img src="{{ url_for('static', filename='images/gallery/team.jpg') }}" alt="{{ 'Our Team'|translate(current_language) }}"></figure>
                            <div class="content-box">
                                <h4>{{ 'Our Professional Team'|translate(current_language) }}</h4>
                                <p>{{ 'Dedicated water specialists'|translate(current_language) }}</p>
                            </div>
                            <div class="link">
                                <a href="{{ url_for('static', filename='images/gallery/team.jpg') }}" class="lightbox-image" data-fancybox="gallery"><i class="fal fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Office Interior -->
                <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all facilities">
                    <div class="gallery-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><img src="{{ url_for('static', filename='images/gallery/office.jpg') }}" alt="{{ 'Modern Office'|translate(current_language) }}"></figure>
                            <div class="content-box">
                                <h4>{{ 'Modern Office'|translate(current_language) }}</h4>
                                <p>{{ 'Customer service center'|translate(current_language) }}</p>
                            </div>
                            <div class="link">
                                <a href="{{ url_for('static', filename='images/gallery/office.jpg') }}" class="lightbox-image" data-fancybox="gallery"><i class="fal fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Product Range -->
                <div class="col-lg-4 col-md-6 col-sm-12 masonry-item small-column all products">
                    <div class="gallery-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><img src="{{ url_for('static', filename='images/gallery/product-range.jpg') }}" alt="{{ 'Product Range'|translate(current_language) }}"></figure>
                            <div class="content-box">
                                <h4>{{ 'Complete Product Range'|translate(current_language) }}</h4>
                                <p>{{ 'From bottles to dispensers'|translate(current_language) }}</p>
                            </div>
                            <div class="link">
                                <a href="{{ url_for('static', filename='images/gallery/product-range.jpg') }}" class="lightbox-image" data-fancybox="gallery"><i class="fal fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- gallery-section end -->
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/isotope.js') }}"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    // Initialize isotope for gallery filtering
    if (typeof Isotope !== 'undefined') {
        const grid = document.querySelector('.items-container');
        const iso = new Isotope(grid, {
            itemSelector: '.masonry-item',
            layoutMode: 'fitRows'
        });
        
        // Filter functionality
        const filterButtons = document.querySelectorAll('.filter');
        filterButtons.forEach(button => {
            button.addEventListener('click', function() {
                // Remove active class from all buttons
                filterButtons.forEach(btn => btn.classList.remove('active'));
                // Add active class to clicked button
                this.classList.add('active');
                
                // Get filter value
                const filterValue = this.getAttribute('data-filter');
                
                // Filter isotope
                iso.arrange({
                    filter: filterValue === '.all' ? '*' : filterValue
                });
            });
        });
    }
});
</script>
{% endblock %}